{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<a href="/">home</a>
<a href="/about">about</a>
<a href="/contact">contact</a>
<a href="/services">services</a>
<h3 class="qq">About preview</h3>
<p class="yy">gfhvkjhgv hbikhg  bvjhgv jh giujhptbr <br>ujyghkjhokgujbgu uygikuyhgoi iuygouyiyooiuhypoiyhpiu <br>liuh pijhpkjgjhgplijglkkx;;ligbx</p>

</body>
</html>